
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Nerko One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.2s linear;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: cadetblue;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__brand {
    text-decoration: none;
    color: azure;
    font-weight: bold;
    font-size: large;
    vertical-align: middle;
}


.main-nav {
    text-align: right;
    width: calc(100% - 120px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.main-nav__items a , .mobile-nav__item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.main-nav__item {
    display: inline-block;
    padding: 10px 20px;
}

.main-nav__item a:hover, .main-nav__item a:active {
    color: white;
    border-bottom: 5px white solid;
}

.main-nav__item--cta {
    animation: wiggle 400ms 3s 8 alternate none;
}

.main-nav__item--cta a, .mobile-nav__item--cta a,
.mobile-nav__item--cta a:hover, .mobile-nav__item--cta a:active {
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover, .main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    position: relative;
    background: black;
    padding: 32px;
    margin-top: 48px;
    min-width: 275px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-footer__link {
    margin: 0 1rem;
}

.main-footer__link a{
    text-decoration: none;
    font-weight: bold;
    color:  white;
}

.main-footer__link:hover, .main-footer__link:active {
    color: #ccc;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


.button {
    color: black;
    background-color: cadetblue;
    padding: 8px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover, .button:active {
    background: white;
    color: black;
}

.button:focus {
    outline: none;
}


.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media(max-width:960px) {
    .main-nav__item {
        display: none;
       
    }

    .main-footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotatez(-10deg);
    }
    100% { 
        transform: rotateZ(10deg);
    }
}



